{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'App1.css' %}?v=1.1">
    <title>Document</title>
</head>
<body>
    
    
    {% block content %}
    <div class="const">
        <h1>Hello Guys! This is Vinay Kumar</h1>
        <h2>Aspiring Fullstack Developer</h2>
        <h3>This Elevate Daily Project is a web-based platform designed to organize and present various articles in a structured format. Developed using Django, this project allows users to browse articles, access event details, and explore additional content seamlessly.</h3>
        <p>Hello! I am Vinay Kumar HS, passionate developer,problem-solver and quick learner. With a keen interest in technology and drive to create impactful solutions, I'm on a journey to build and develop skills that not only advance my career but also contribute to the world around me.</p>
        <p>I'm skilled in Python, SQL, Django, HTML, CSS and advance Python. I believe that learning is a continuous process and I'm always eager to learn new technologies and improve my skills.</p>
        <p>Thank you for visiting this Elevate Daily Project</p>
        <p>I used Django Framework and HTML,CSS to develop this project, if you want to know more about the project, please visit my <a href="https://github.com/VinayKumar77777">Github Profile</a> for more details.</p>
        <h4><a href="{% url 'home' %}" ><button>Back</button></a></h4>
    </div>
    
    
    {% endblock content %}
        
        
    
</body>
</html>
