{% extends 'base.html' %}

{% block title %}Authors - Article Project{% endblock title %}

{% block content %}
    <div class="articles">
        {% for i in titles %}
            <div class="content"> 
                
                    <h4>{{ i.t }}</h4>
                    <i>{{i.desc}}</i>
                    <p style="text-align: right; margin: 1rem;"> -{{i.author}}</p>
                
                
            </div>
        {% endfor %}
        <h4><a href="{% url 'home' %}"><button>Back</button></a></h4>
    </div>

    
{% endblock content %}
